@font-face {
  font-family: regulartxt;
  src: url('../Lato/Lato-Regular.ttf');
}
@font-face {
  font-family: semiboldtxt;
  src: url('../Lato/Lato-Black.ttf');
}
@font-face {
  font-family: boldtxt;
  src: url('../Lato/Lato-Bold.ttf');
}
.min-height{
	min-height: 100vh !important;
	overflow: hidden !important;
}
section{
	overflow: hidden !important;
}
.sectionbg_credentail{
	background: linear-gradient( #d96b5f 0,#d96b5f 50%,#8f0c0d 50%,#8f0c0d 100%);
}

/* agenda end */
.credentailscontainer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.credentialitem{
	position: relative;
	transform-style: preserve-3d;
	width: 20%;
	height: 400px;
	margin: 40px;
	background: #232323;
	border-radius: 15px;
	perspective: 1000px;
	
}
.testitem{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.colormix1{
	background: #e7524c;
}
.colormix2{
	background: #ff7128;
}
.colormix3{
	background: #fa7692;
}
.colormix4{
	background: #8bd3b9;
}
.fruitprouct1{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 36%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-10%, -50%, 0px);
}
.fruitprouct2{
	position: absolute;
    top: 85%;
    left: 27%;
    width: 50%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.fruitprouct3{
	position: absolute;
    top: 84%;
    left: 82%;
    width: 45%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.box2fruitprouct1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-10%, -50%, 0px);
}
.box2fruitprouct2 {
    position: absolute;
    top: 70%;
    left: 40%;
    width: 50%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.box2fruitprouct3 {
    position: absolute;
    top: 84%;
    left: 82%;
    width: 45%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.box2fruitprouct4 {
    position: absolute;
    top: 85%;
    left: 22%;
    width: 30%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.box3fruitprouct1 {
    position: absolute;
    top: 50%;
    left: 26%;
    width: 80%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-10%, -50%, 0px);
}
.box3fruitprouct2 {
    position: absolute;
    top: 70%;
    left: 35%;
    width: 15%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.box3fruitprouct3 {
    position: absolute;
    top: 76%;
    left: 19%;
    width: 13%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.box3fruitprouct4 {
    position: absolute;
    top: 64%;
    left: 65%;
    width: 65%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.sectiondesign1{
	background:#f7987c;
  position: relative;
}
.sectiondesign2{
	background:#fd9436;
  position: relative;
}
.sectiondesign3{
	background:#e34f7f;
  position: relative;
}
.sectiondesign4{
	background:#03705a;
  position: relative;
}
.container{
	width: 100% !important;
}
.flexcontainer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flexcontaineritem1{
	width: 40%;
}
.flexcontaineritem2{
	width: 40%;
}
.no-padding{
	padding: 0;
}
.sectioncont .bannerbox {
    position: relative;
    padding: 0 40px;
    width: 100%;
    height: 40vw;
    border-radius: 0 0 25px 25px;
    transform-style: preserve-3d;
}
.sectioncont .innerbannerbox1{
    background: #e7524c;
}
.sectioncont .innerbannerbox2{
    background: #ff7128;
}
.sectioncont .innerbannerbox3{
    background: #fa7692;
}
.sectioncont .innerbannerbox4{
    background: #8bd3b9;
}
.activesec .flexcontaineritem1{

}
.activesec .flexcontaineritem2{
	animation: widthanim 4s ease;
}
@keyframes widthanim {
	from {
		width: 100%;
	}
	to{
		width: 40%;
	}
}
.sectioncont .bannerbox::before{
	content: 'BASKET';
	position: absolute;
	top: 5px;
	left: 20px;
	font-size: 5em;
	font-weight: 900;
	color: #000;
	font-style: italic;
	transition: 0.5s;
	font-family: boldtxt;
	opacity: 0;
}
.sectioncont .bannerbox:hover::before{
	opacity: 0.4;
}
.sectioncont .bannerbox .name{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: #fff;
	font-size: 2.3em;
	width: 100%;
	transform-style: preserve-3d;
	transform: translate3d(0,0,75px);
	font-family: boldtxt;
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}
.sectioncont .bannerbox:hover .name{
	top: 90px;
	opacity: 1;
}
.sectioncont .bannerbox .buy{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform-style: preserve-3d;
	transform: translate3d(-50%,0,75px);
	color: #fff;
	background: #333;
	padding: 10px 25px;
	border-radius: 30px;
	text-decoration: none;
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}
.sectioncont .bannerbox:hover .buy{
	bottom: 30px;
	opacity: 1;
}
.sectioncont .bannerbox .circle{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: 0.5s;
	background: #fff;
	transform-style: preserve-3d;
	z-index: 10;
	opacity: 1;
	transform: translate3d(-50%, -50%, 50px);
}
.sectioncont .bannerbox .product{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 36%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-10%, -50%, 0px);
}
.sectioncont .product2{
	position: absolute;
    top: 85%;
    left: 27%;
    width: 50%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.sectioncont .product3{
	position: absolute;
    top: 84%;
    left: 82%;
    width: 45%;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.substitute_heading{
	color: #fff;
	font-size: 1.3em;
}
.mainheading_banner{
	font-family: boldtxt;
	color: #fff;
	font-size: 4.3em;
	width: 80%;
}
.banner_subheading{
	color: #fff;
	font-size: 1.5em;
	line-height: 1.5;
	width: 80%;
}
.parallaxsectionparent{
	position: relative;
	/* background: linear-gradient(#026853 0,#026853 50%,#163530 50%,#163530 100%); */
	overflow: hidden;
	background: #720a0b;
}
.parallaxtext{
	margin-bottom: 10%;
}
.parallaxtext:before{
	content: 'Fruit_Basket';
	position: fixed;
	top: 50%;
	left: 20%;
	transform: translate(0%, 0%);
	/* font-family: regulartxt; */
	font-size: 10em;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: 2px #fff;
}
.parallaxsection{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.parallaxsection h2{
    margin-left: 200px;
    font-size: 4em;
    color: transparent;
    margin-bottom: 20px;
    -webkit-text-stroke: 2px #fff;
}
.parallaxsection .parallcontainer{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.parallaxsection:nth-child(even) .parallcontainer{
	flex-direction: row-reverse;
}
.parallaxsection .parallcontainer .imgBx{
	position: relative;
	width: 1200px;
	height: 500px;
	overflow: hidden;
	box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
}
.parallaxsection .parallcontainer .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;	
}
.parallaxsection .parallcontainer .fruitcontent{
	position: absolute !important;
	right: 0;
	margin-top: 200px;
	margin-bottom: 40px;
	font-size: 1.5em;
	padding: 40px;
	background: #e6aeab;
	z-index: 1;
	max-width: 400px;
	color: #000;
	font-family: regulartxt;
	box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
	border-bottom: 6px solid #2b0304;
}
.parallaxsection:nth-child(even) .fruitcontent{
	left: 0;
}
/* contact us */
.contactussec{
	background: #8bd3b9;
}
.contactussec .contactimg{
	width: 50%;
	margin: 2% auto;
}
.contactussec .screen {
 	position: relative;
	background: #15342f;
    border-radius: 15px;
    width: 80%;
    margin: 2% auto;
}

.contactussec .screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.contactussec .screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #03100e;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contactussec .screen-header-left {
  margin-right: auto;
}

.contactussec .screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.contactussec .screen-header-button.close {
  background: #ed1c6f;
}

.contactussec .screen-header-button.maximize {
  background: #e8e925;
}

.contactussec .screen-header-button.minimize {
  background: #74c54f;
}

.contactussec .screen-header-right {
  display: flex;
}

.contactussec .screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.contactussec .screen-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactussec .screen-body-item {
  flex: 1;
  padding: 20px;
}

.contactussec .screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.contactussec .app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.contactussec .app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.contactussec .app-contact {
    margin-top: 4%;
    font-size: 1.1em;
    color: #fff;
}
.connectemail a,.connectemail a:hover,.connectemail a:focus{
  font-size: 1.1em;
  color: #fff;
  color: #ea1d6f;
}
.contactussec .app-form-group {
  margin-bottom: 15px;
}

.contactussec .app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}
.tooltipcontent {
        position: absolute;
        background: #e35583;
        z-index: 9999;
        width: 20%;
        top: 40%;
        padding: 20px;
        border-radius: 20px;
        font-size: 1.15em;
        text-align: center;
        color: #161616;
        cursor: default;
        pointer-events: none;
        font-family: boldtxt;
        left: 30%;
    }
    .tooltipcontent::after {
      content: '';
        position: absolute;
        width: 2em;
        height: 2em;
        top: 50%;
        margin: -1em 0 0;
        left: -10%;
        background: url(https://clientadvisory.myconcerto.accenture.com/portals/ClientPortal/SiteAssets/InternalProject/InternalProject_19226/tooltip2.svg) no-repeat center center;
        background-size: 100%;
    }
    .activecontent{
      display: none;
    }
    .contactdeveloper h2{
      font-size: 2em;
        color: #fff;
        font-family: boldtxt;
        text-align: center;
        letter-spacing: 3px;
        margin: 0;
    }
    .contactdeveloper p{
      font-size: 1.3em;
        color: #fff;
        font-family: regulartxt;
        text-align: center;
        letter-spacing: 3px;
        margin: 1% 0;
    }
    .highlightparanw{
        color: #ea1d6f !important;
        font-family: boldtxt !important;
    }
.contactussec .app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 1.2em;
  outline: none;
  transition: border-color .2s;
  z-index: 1000;
}

.contactussec .app-form-control::placeholder {
  color: #666;
}

.contactussec .app-form-control:focus {
  border-bottom-color: #ddd;
}

.contactussec .app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.contactussec .app-form-button:hover {
  color: #b9134f;
}

.contactussec .credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.contactussec .credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.contactussec .dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
span.tooltipmessage,span.tooltipname {
    color: #fff !important;
}
@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
.backarrowdesign{
  position: absolute;
  left: 5%;
  top: 7%;
}
.backarrowdesign .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -60px;
  display: inline-block;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 0.25s ease-in-out, color 0.25s ease-in-out;
}
.backarrowdesign .arrow:hover,.backarrowdesign .arrow.auto {
  width: 60px;
  margin-left: -30px;
  border-radius: 40px;
  color: rgba(179, 195, 58, 0);
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 1s 0.25 ease-in-out, color 0.25s ease-in-out 0.25s;
}
.backarrowdesign .arrow:hover:before,.backarrowdesign .arrow.auto:before {
  animation: lineUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
.backarrowdesign .arrow:hover:after,.backarrowdesign .arrow.auto:after {
  animation: tipUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
.backarrowdesign .arrow:before {
  position: absolute;
  display: inline-block;
  content: "";
  background: #fff;
  width: 5px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -3px;
  transform: translateY(50px);
}
.backarrowdesign .arrow:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  color: #fff;
  border-top: 5px solid;
  border-left: 5px solid;
  transform: rotateZ(45deg);
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -10px;
  transform: translateY(50px) rotateZ(45deg);
}

@keyframes tipUp {
  0% {
    transform: translateY(50px) rotateZ(45deg);
  }
  100% {
    transform: translateY(-70px) rotateZ(45deg);
  }
}
@keyframes lineUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-70px);
  }
}
.swiper {
    width: 100%;
    height: 100%;
}

.containerswiper {

    /* top: 25vh; */
    height: 100vh;
}

.swiper-slide {
    text-align: center;        /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide_1 {
    background: #e7524c;
}

.slide_2 {
    background: #ff7128;
}

.slide_3 {
    background: #fa7692;
}

.slide_4 {
    background: #8bd3b9;
}

.bannerbasket1_1 {
    position: absolute;
    top: 40%;
    left: 22%;
    width: 20% !important;
    height: auto !important;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-10%, -50%, 0px);
}

.bannerbasket1_2 {
    position: absolute;
    top: 72%;
    left: 10%;
    width: 25% !important;
    height: auto !important;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-10%, -50%, 0px);
}

.bannerbasket1_3 {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 25% !important;
    height: auto !important;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-10%, -50%, 0px);
}

.bannerbasket1_4 {
    position: absolute;
    top: 90%;
    left: 12%;
    width: 15% !important;
    height: auto !important;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-10%, -50%, 0px);
}

.bannerbasket1_5 {
    position: absolute;
    top: 57%;
    left: 11%;
    width: 36% !important;
    height: auto !important;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-10%, -50%, 0px);
}

.bannerbasket1_6 {
    position: absolute;
    top: 42%;
    left: 59%;
    width: 36% !important;
    height: auto !important;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-10%, -50%, 0px);
}

.bannertext {
    text-align: center;
    color: #fff;
    font-size: 10.3em;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    font-family: boldtxt;
    transition: 0.5s;
    z-index: 99;
}

.buttonbanner {
    padding: 20px;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 1;
    border: none;
    position: absolute;
    top: 80%;
    font-size: 1.5em;
    font-family: boldtxt;
    width: 15%;
}

.buttonbanner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10rem;
    z-index: -2;
}

.buttonbanner::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.slide_1 .buttonbanner::before {
    background-color: #8f0c0d;
}

.slide_2 .buttonbanner::before {
    background-color: #fd9436;
}

.slide_3 .buttonbanner::before {
    background-color: #e34f7f;
}

.slide_4 .buttonbanner::before {
    background-color: #03705a;
}

.buttonbanner a {
    color: #fff;
}

.buttonbanner a:hover {
    color: #fff;
}

.buttonbanner:hover::before {
    width: 100%;
}

.seccarddes {
    display: none;
}

.credentialitem h2 {
    text-align: center;
    color: #fff;
    font-size: 2.3em;
    font-family: boldtxt;
}

.credentialitem:hover h2 {
    border: none;
}

.fruitspara {
    font-family: regulartxt;
    font-size: 1.8em;
    color: #fff;
    line-height: 1.3;
    text-align: center;
    width: 70%;
    margin: 3% auto;
}

